<h1>Weather index</h1>



  <%= form_tag(results_path, method: "get") do %>
  <%= label_tag :title, "Search for:" %>
  <%= text_field_tag :city1 %> 
  <%= text_field_tag :city2 %> 

<%= submit_tag("Search") %>

<% end %> 

