<h1>Weather index</h1>



  <%= form_tag(results_path, method: "get") do %>
  <%= label_tag :title, "Search for:" %>
  <%= text_field_tag :location %>
  <%= text_field_tag :location2 %> 
  <%= select_tag(:day_id, options_for_select([['Today', 1], ['Tomorrow', 2]])) %>

<%= submit_tag("Search") %>

<% end %> 

