<div class="jumbotron">
		<h1>The Results Are In!</h1>
	</div>

<div class="container">



<div class="row">

<% if (@weather[0]["high"]).nil?||(@weather2[0]["high"]).nil? %>
	<%- flash[:alert] = "Wrong Input! Try Again!" %>

	<% elsif @weather[0]["high"] > @weather2[0]["high"] %>
		<!-- <div class="jumbotron"> -->
	<ul class="list-inline city1">
			<li><h1><%= "The Hottest City is:" %></h1></li>
			<li><h1 class="city1"><%= params[:location].titleize %></h1></li>
		</ul>

		<ul class="list-inline city1">
			<li><h1><%= "Day: " %> </h1></li>
			<li><h1 class="city1"><%= @weather[@day]["day_of_week"] %></h1></li>
		</ul>
		
		<ul class="list-inline city1">
			<li><h1><%= "Temperature:" %> </h1></li>
			<li><h1 class="city1"><%= @weather[@day]["high"] %></h1></li>
		</ul>



		<br/><br/><br/>

		<% else %>
		<ul class="list-inline city1">
			<li><h1><%= "The Hottest City is:" %></h1></li>
			<li><h1 class="city1"><%= params[:location2].titleize %></h1></li>
		</ul>

		<ul class="list-inline city1">
			<li><h1><%= "Day: " %> </h1></li>
			<li><h1 class="city1"><%= @weather2[@day]["day_of_week"] %></h1></li>
		</ul>
		
		<ul class="list-inline city1">
			<li><h1><%= "Temperature:" %> </h1></li>
			<li><h1 class="city1"><%= @weather2[@day]["high"] %></h1></li>
		</ul>


		<% end %>
		</div>
		<br />

		<div class="row">
	<% if @weather[0]["high"] < @weather2[0]["high"] %>
		<!-- <div class="jumbotron"> -->
		<h2 class="announcement">
		
		<ul class="list-inline city1">
			<li><h1><%= "The Coolest City is:" %></h1></li>
			<li><h1 class="city1"><%= params[:location].titleize %></h1></li>
		</ul>
		
		<ul class="list-inline city1">
			<li><h1><%= "Temperature:" %> </h1></li>
			<li><h1 class="city1"><%= @weather[@day]["high"] %></h1></li>
		</ul>

		<% elsif %>

		<ul class="list-inline city1">
			<li><h1><%= "The Coolest City is:" %></h1></li>
			<li><h1 class="city1"><%= params[:location2].titleize %></h1></li>
		</ul>
		
		<ul class="list-inline city1">
			<li><h1><%= "Temperature:" %> </h1></li>
			<li><h1 class="city1"><%= @weather2[@day]["high"] %></h1></li>
		</ul>

		<% end %>
		</div>
		<br /><br />
			<h3 class="try">Try Again!
			</h3>
		
		  <%= render 'form' %>
		</div>


