<div class="container">

		<div class="row">

		<% if (@weather[0]["high"]).nil?||(@weather2[0]["high"]).nil? %>
		<%- flash[:alert] = "Wrong Input! Try Again!" %>

		<% elsif @weather[0]["high"] > @weather2[0]["high"] %>
		<!-- <div class="jumbotron"> -->
		<h1><span class="label label-default">
		<%= "The Hottest City is:  " %></h1>

		<h1 class="city1">
		  <%= params[:location].titleize %>
		</h1>
		</span>

		<h1><span class="label label-default">
		<%= "Day: " %> </h1>
		<h1 class="city1">
		<%= @weather[@day]["day_of_week"] %>
		</h1></span>

		<div class="col-sm-4">
		<h1><span class="label label-default">
		<%= "Temperature is:   " %> 
		</h1>
		</div>
		<br/><br/><br/>
		<div class="col-sm-4">
		<div class="thumbnail">
			<h1 class="high">
			<%= @weather[@day]["high"] %>
			</h1>
		</div>
		</div>

		<% else %>
		<h2 class="announcement">
		<%= "The Hottest City is:  " %> 
		</h2>

		<h1 class="city1">
		  <%= params[:location2].titleize  %>
		</h1>

		<h2 class= "dayOfWeek">
		<%= "Day: " %> 
		<%= @weather2[@day]["day_of_week"] %>
		</h2>

		<h2 class = "temperature">
		<%= "Temperature is:   " %> 
		</h2>

		<h1 class="high">
		<%= @weather2[@day]["high"] %>
		</h1>

		<% end %>
		</div>
		<p></p>

		<div class="row">
		<% if @weather[0]["high"] < @weather2[0]["high"] %>
		<!-- <div class="jumbotron"> -->
		<h2 class="announcement">
		<%= "The Coolest City is:  " %> 
		</h2>
		<h1 class="city1">
		  <%= params[:location].titleize %>
		</h1>

		<h2 class = "temperature">
		<%= "Temperature is:   " %> 
		</h2>

		<h1 class="high">
		<%= @weather[@day]["high"] %>
		</h1>

		<% elsif %>
		<h3 class="announcement">
		<%= "The Coolest City is:  " %> 
		</h2>

		<h2 class="city1">
		  <%= params[:location2].titleize  %>
		</h1>

		<h2 class = "temperature">
		<%= "Temperature is:   " %> 
		</h2>

		<h1 class="high">
		<%= @weather2[@day]["high"] %>
		</h1>

		<% end %>
		</div>

		  <%= render 'form' %>
		</div>


