<header>
  
    <div container>
  <h1>The Heat is On!</h1>
 </div>

 <div>
  <p> 
  <h2>We'll pick the hottest city for you</h2>
  </p>

</div>
</header>







  <%= form_tag(results_path, method: "get") do %>
  <%= label_tag :title, "Search for:" %>
  <%= text_field_tag :location %>
  <%= text_field_tag :location2 %> 
  <%= select_tag(:day_id, options_for_select([['Yesterday', 0],['Today', 1], ['Tomorrow', 2],['Day after Tomorrow',3]]))%>


<%= submit_tag("Go") %>

<% end %> 

